.link-account-modal {
    
    .title-bar{
        background-color: $oc-teal-8;
        height: 4rem;
        font-size: 2rem;
        color: white;
        text-align: center;
        line-height: 4rem;
    }
    .message{
        padding: 1rem;
        text-align: center;
        p {
            font-size: 1.4rem;
            margin-bottom: .3rem;

            b {
                text-transform: capitalize;
            }
            &.warning {
                color: $oc-red-5;
                font-size: 1rem;
            }
        }
    }
    .footer {
        background-color: $oc-gray-2;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        Button {
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }
}